.clima-container{
    background-color:#19255277;
    border-radius: 10px;
    
    h3{
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
}
.fa-solid {
    margin-right: 10px;
}
.fa-arrow-up{
    color: red;
}
.fa-arrow-down{
    color: blue;
}
.weather-list{
    width: 100%; /* Ou defina uma largura maior se necessário */
    display: flex;
    flex-direction: row; /* Itens lado a lado */
    align-items: center;
    justify-content: space-between; /* Opcional: ajusta o espaçamento */
    flex-wrap: wrap; /* Permite quebra de linha quando necessário */
}
.weather-item{
    flex: 1 1 calc(25% - 30px); /* Cada item ocupa 25% menos margem */
    max-width: calc(25% - 30px); /* Limita o tamanho para caber no contêiner */
    text-align: center;
    background-color: #192552d3;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
}
.weather-day, .weather-descricao{
    text-transform: capitalize;
    font-size: 1.1rem;
}
